#producer_attribute{
    font-size: small;
    font-weight: bold;
    position: relative;
    left: 0px;
    margin-top: 6px;
    float: bottom right;
}

#logo_container{
    top: 50%;
    transform: translate(-50px, -50px);
    left: 50%;
    width: 300px;
    height: 200px;
    position: fixed;
}

.logo{
    width: 100px;
    height: 100px;
    background-image: url("../img/intro.png");
    animation: fadein 1.5s ease-out forwards, skew 1s ease-out 1.8s forwards;
    margin-bottom: 20px;
}

@keyframes skew {
    from {transform: skewY(0deg);}
    to {transform: skewY(20deg);}
}

@keyframes fadein {
    from {opacity: 0; width: 0px; height: 0px;}
    to {opacity: 1; width: 100px; height: 100px;}
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  background: #f2f1f1;
  color: #5E5E5E; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}

h2 {
    font-size: 1em;
    line-height: 1.2;
    margin: 1.414em 0 0.5em;
    
    @media (min-width: 500px) {
        font-size: 1.5em;
    }
    
    @media (min-width: 800px) {
        font-size: 1.8em;
    }
}

.wrap {
  padding: 1em;
  text-align: center;
  @media (min-width: 700px) { padding: 1em 2em; }
}

.modal {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em;
}

@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em;
  }
}

.modal > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  border-radius: .2em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s;
}

.modal > label:hover {
  transform: scale(0.97);
}

.modal__overlay {
  background: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}

.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}

@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
  }
}

@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
  }
}

.modal__wrap label {
  background: #FFD300;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}

.modal__wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.modal__wrap p {
  color: #FFD300;
  text-align: justify;
}

.modal input:focus ~ label {
  transform: scale(0.97);
}

input {
  position: absolute;
  top: -1000px;
}

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

input:checked ~ .modal__overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 800;
}

