body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.default_style_font{
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
}