#linkregistration{
    line-height: 1;
    display: inline-block;
    color: rgb(52, 204, 85);
    text-decoration: none;
    cursor: pointer;
}

#linkregistration:after{
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(52, 204, 85);
    transition: width .3s ease-in-out;
}

#linkregistration:hover:after, #linkregistration:focus:after{
    width: 100%;
}

.body_afterstart{
    background-color: black;
}

#imagebody{
    position: fixed;
}

#box_wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

#img_wrapper{
    width: 90px;
    height: 90px;
    left: 40%;
    background: url("../img/oldsnake.jpg");
    background-size: contain;
    margin: 10px;
    position: relative;
}

#box_registration{
    width: 500px;
    border-radius: 10%;
    border: 4px solid red;
    box-shadow: 10px 10px 10px 10px black;
    background-color: white;
    text-align: center;
    position: relative;
}

input{
    width: 40%;
    border-width: 0;
    font-size: 18px;
    border-bottom: solid 1px black;
    outline: none;
    margin-top: 2%;
    position: relative;
}

.errors_box{
    width: 95%;
    border-radius: 5%;
    left: 50%;
    color: white;
    background-color: red;
    transform: translate(-50%);
    border: solid 1px black;
    position: relative;
  }

.errors_box > *{
    margin: 2px;
    font-size: 18px;
}

  .welcome{
    font-size: 30px;
    padding: 5px;
  }
  
form{
    position: relative;
}

#hyperlink_Registration_wrapper > *{
    margin: 1px;
}

@media only screen and (orientation: landscape) {
    #imagebody{width: 100%; top: -55%;}
    body {flex-direction: row;}
  }

  @media only screen and (orientation: portrait){
    #imagebody{ min-height: 100vh; min-width: 100vw; top: -10%;}
    body{flex-direction: column;}

  }