body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.default_style_font{
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
}

/*
@media only screen and (max-width: 670px) and (max-height: 540px){
    #contentmodal {width: 50%; height: 70%;}
    .button{width: 8%; height: 10%; background-size: cover;}
    #contentmodal img {height: 50%; width: 50%;}
    #exitbutton {left: 85%;}
    #contentmodal h3,h2 {font-size: 80%;}
    #next {left: 85%; top: 80%;}
    #previous {left: 8%; top: 80%;}
  }*/


    @media only screen and (orientation: portrait){
      #modal {width: 60%; height: 30%;}
      body{flex-direction: column;}
      #backgroundgame{top: 20%; height: 50%; width: 98%; left: 49%;}
      #colorchoices {flex-direction: row;}
      #boxchangecolor {top: 80vh; left: 50%; transform: translateX(-50%);}
      #scores {flex-direction: row; left: 50%; transform: translateX(-50%); width: 60%; height: 12%;}
    }
  
    @media only screen and (orientation: landscape)/*(min-width: 500px) and (max-height:500px)*/ {
      #modal {width: 30%; height: 60%;}
      body{flex-direction: row;}
      #backgroundgame{height: 90%; width: 50%; left: 55%; top: 1%;}
    }
  
    [class*="col-"] {
      width: 100%;
    }