body{
    background-color: green;
}

#backgroundgame{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(140, 209, 37);
    align-content: center;
    position: relative;
}

#backgroundgame > *{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3.2258%;
    width: 3.2258%;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}

.withborder{
    border: solid 3px black;
}

.noborder{
    border: solid 3px transparent;
}

.rotate90{
    transform: rotate(90deg);
}

.rotate180{
    transform: rotate(180deg);
}

.rotate270{
    transform: rotate(270deg);
}

.nocursor{
    cursor: none;
}

.withcursor{
    cursor: pointer;
}

@media only screen and (orientation: landscape){
    #backgroundgame {top: -15px; left: 8%; width: 50vmax; height: 50vmax;}
}

@media  (orientation:portrait) {
    #backgroundgame {margin: -20px 5px 0px -11px; width: 90vmin; height: 90vmin;}
}