body{
    background-color: green;
}

#backgroundgame{
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(140, 209, 37);
    align-content: center;
    width: 98vmin;
    height: 98vmin;
    position: relative;
}

#backgroundgame > *{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3.2258%;
    width: 3.2258%;
    display: inline-block;
    padding: 0;
    margin: 0;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
}

.withborder{
    border: solid 3px black;
}

.noborder{
    border: solid 3px transparent;
}

.rotate90{
    transform: rotate(90deg);
}

.rotate180{
    transform: rotate(180deg);
}

.rotate270{
    transform: rotate(270deg);
}

.nocursor{
    cursor: none;
}

.withcursor{
    cursor: pointer;
}

@media only screen and (orientation: portrait){
    #backgroundgame {left: -2%;}
} 

@media only screen and (orientation: landscape) {
    #backgroundgame {top: -15vh; left: 15%;}
}