#content{
    width: 700px;
    height: 700px;
    padding: 5px;
    margin-top: 5px;
}

body{
    flex-direction: row;
    background-color: green;
}

#backgroundgame{
    height: 683px;
    width: 683px;
    left: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    transform: translateX(-50%);
}

#backgroundgame > *{
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 1px;
    display: inline-block;
    background-color: rgb(140, 209, 37);
}

.withborder{
    border: solid 3px black;
}

.noborder{
    border: solid 3px transparent;
}

.rotate90{
    transform: rotate(90deg);
}

.rotate180{
    transform: rotate(180deg);
}

.rotate270{
    transform: rotate(270deg);
}

.nocursor{
    cursor: none;
}

.withcursor{
    cursor: pointer;
}