#backgroundmodal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}

.modal{
    width: 467px;
    height: 338px;
    background-color:antiquewhite;
    border-radius: 15px;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

h2,h3{
    font-size: 90%;
}

.button{
    width: 14%; 
    height: 14%;
    z-index: 5;
    height: 14%;
    margin: 1px;
    padding: 1px;
    position: absolute;
    background-repeat: no-repeat;
}

#exitbutton{
    left: 85%;
}

#next{
    top: 80%;
    left: 83%;
}

#previous{
    top: 80%;
    left: 5%;
}

#contentmodal{
    left: 10%;
    top: 1%;
    height: 200px;
    width: 300px;
    padding: 0px 20px 20px 50px;
    position: relative;
}

.darkmode{
    opacity: 0.5;
    z-index: 1;
    background-color: black;
}