#toggle {
  width: 28px;
  height: 30px;
  left: 2%;
  top: 2%;
  z-index: 3;
  position: fixed;
}

.bodymenu{
  background-color: black;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle:hover .one{
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle:hover .two {
  opacity: 0;
}

#toggle:hover .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  width: 100px;
  height: 150px;
  background-color: #4e494285;
  border: 1px solid white;
  padding: 10px;
  border-radius: 3px;
  font-family: "Segoe UI", sans-serif;
  line-height: 100px;
  text-align: center;
  margin: auto;
  left: 1%;
  top: 45px;
  z-index: 3;
  display: none;
  position: fixed;
}

#menu a{
  height: 50px;
  color: white;
  top: -20%;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#multiplechoices{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: crimson;
  position: relative;
}

.changepassword{
  font-weight: bolder;
  margin-top: 3%;
}

a{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  text-align: left;
  display: inline;
  cursor: pointer;
  position: relative;
}

.choices:hover {
  background-color: #ffffff;
  color: #0097ee;
  padding: 24px 10px;
}

.choices {
  transition: 0.3s;
  color: #ffffff;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
  top: 35%;
  text-decoration: none;
}

h3{
    margin: 0px;
}

#menucontainer {
  background-color: white;
  border: solid 2px black;
  position: relative;
}

#backgroundmenu, #blurredeffect{
  width: 100vw;
  height: 100vh;
  top: -2px;
  left: -2px;
  position: fixed;
}

#blurredeffect{
  opacity: 0.5;
  background-color: black;
}

#backgroundmenu{
  background-size: cover; 
  background-repeat: no-repeat;
}

@media only screen and (orientation: portrait){
  #menucontainer {font-size: 23px;}
  #backgroundmenu{background-image: url(../../img/playgroundr.png); }
}

@media only screen and (orientation: landscape){
  #menucontainer {font-size: 23px; top: 0px;}
  #backgroundmenu{background-image: url(../../img/playgroundl.png);}
}